<% @title='4C Construction | About' %>
<!--page title-->
<div class="dzsparallaxer auto-init" data-options='{   direction: "reverse"}' style="height: 300px;">

  <div class="divimage dzsparallaxer--target " style="width: 101%; height: 600px; background-image: url(assets/aboutus.jpg)">
  </div>
  <div class="semi-black-overlay"></div>
  <div class=" parallax-text center-it page-title">
    <h2>Who We Are</h2>
  </div>
</div>
<!--page title-->

<div class="space80"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 margin-btm-30">
      <p class="description">
        4C Construction is a
        full-service residential construction company serving the Omaha Metro area for more than a decade. From the status of
        their permit application to the final stages and "custom" design extras, we work to insure that our customers
        are completely satisfied every step of the way
      </p>
    </div>
    <div class="col-sm-6">
      <img src="assets/goodgroupabout.jpg" alt="" class="img-responsive center-block">
    </div>
  </div>
  <div class="space70"></div>
  <div class="row">
    <div class="col-lg-12 margin-btm-30">
      <div class="person-col">
        <img src="assets/owner.jpg" alt="" class="img-responsive center-block gallery">
        <div class="person-desc">
          <h4 class="text-uppercase">Bojan Ninkovic</h4>
          <span><em>Owner</em></span>
          <p class="description">
            4C Construction is a full-service residential construction company locally owned and operated. With over 30 years of professional experience in all phases of the construction industry including new construction, inside and outside remodeling, basement finishing, additions, carpentry, restoration, flooring, counter tops, bathrooms, deckswall modifications, textures, painting, electrical, plumbing, lighting, environmental audit, rehab, tenant improvements, general property maintenance, insurance claims, vintage restorations, deck and gazebos. From the status of the permit application to the final stages and "custom" design extras, we work to ensure that our customers are completely satisfied every step of the way. 
          </p>
        </div>
      </div>
    </div><!--col-->

  </div><!--row-->
  <div class="space80"></div>
  <div class="row support-info">
    <div class="col-sm-4">
      <h4><i class="ion-ios-telephone"></i> <%= Constants::PHONE_NUMBER %></h4>
    </div>
    <div class="col-sm-4">
      <h4><i class="ion-email"></i> <%= Constants::EMAIL %></h4>
    </div>
    <div class="col-sm-4">
      <h4><i class="ion-map"></i> <%= Constants::ADDRESS %></h4>
    </div>
  </div>
</div>


<script src="assets/readmore.js"></script>
<script>
  /*
  $('.description').readmore({
    speed: 500,
    collapsedHeight: 150,
    lessLink: '<a href="#">Read less</a>'
  });*/

</script>
