<% @title='4C Construction | About' %>
<!--page title-->
<div class="dzsparallaxer auto-init" data-options='{   direction: "reverse"}' style="height: 300px;">

  <div class="divimage dzsparallaxer--target " style="width: 101%; height: 600px; background-image: url(assets/aboutus.jpg)">
  </div>
  <div class="semi-black-overlay"></div>
  <div class=" parallax-text center-it page-title">
    <h2>Who We Are</h2>
  </div>
</div>
<!--page title-->

<div class="space80"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 margin-btm-30">
      <p class="description">
        4C Construction is a
        full-service residential construction company serving the Omaha Metro area for more than a decade. From the status of
        their permit application to the final stages and "custom" design extras, we work to insure that our customers
        are completely satisfied every step of the way
      </p>
    </div>
    <div class="col-sm-6">
      <img src="assets/goodgroupabout.jpg" alt="" class="img-responsive center-block">
    </div>
  </div>
  <div class="space70"></div>
  <div class="row">
    <div class="col-lg-3 margin-btm-30">
      <div class="person-col">
        <img src="assets/owner.jpg" alt="" class="img-responsive center-block gallery">
        <div class="person-desc">
          <h4 class="text-uppercase">Bojan Ninkovic</h4>
          <span><em>Owner</em></span>
          <p class="description">
            In 1997, I came to the United States during the Yugoslavian War with my parents. This was our chance to

            fulfill our dreams. After completing high school in 2005 I went on to graduate at Bellevue University with

            a diploma in Business Management. After college I decided to put my degree to work. My dad helped

            me start my own small business. At first we acquired several rental properties and we specialized in

            property management. Eventually my Dad and I decided we wanted to expand our business and start

            building homes. Together we now have a combined total of over 30 years in the construction business.

          <br> <br>

            Customer, Cost, Communication, and Courtesy to every client is the mission of 4C. I believe that building

            a new home begins with dedication to customer service before, during, and after the completion of the

            construction. Exceeding customer expectations is something that I pride myself in. My hands-on

            experience building custom homes has developed into a thorough understanding and in-depth

            knowledge of the entire construction process.
          </p>
        </div>
      </div>
    </div><!--col-->
    <div class="col-lg-3 margin-btm-30">
      <div class="person-col">
          <img src="assets/brad1.jpg" alt="" class="img-responsive center-block gallery">
        <div class="person-desc">
          <h4 class="text-uppercase">Brad Bebermeyer</h4>
          <span><em>Nebraska Realty</em></span>
          <p class="description">
            Brad Bebermeyer is originally from Southern California and moved around the Western portion of the U.S. till
            he found his home in Nebraska. After playing baseball and earning a Bachelor’s Degree in Secondary Education
            at York College in York, Nebraska he went on to teach Social Studies for three years at the high school
            level. With two young children Brad made the choice to switch careers and support his wife’s decision to
            stay at home to raise them. Now with 7 years of sales experience in the professional world he thought it was
            a natural transition to follow his father’s footsteps who is a real estate broker in California.
            Brad’s faith, family, and friends are the top priorities in his life. His beautiful wife, Kristi, works
            locally in the pre-school Director at Stonebridge Christian Church. When his two children, Donovan and
            Peyton, are not in school the family always makes time to play baseball and video games, watch movies or
            play with Scout and Eleanor Rigby, their family dogs.
            Nebraska Realty is a perfect fit for the Bebermeyer family and Brad is excited to be employed by a brokerage
            that operates under the same value system that he does.
          </p>
          
          <div class="space20"></div>
          <a href="http://www.BradSellsHomesInOmaha.com" class="btn btn-skin btn-sm">Visit Site
            <i class="ion-ios-arrow-right"></i></a>
        </div>
      </div>
    </div><!-- col -->
    <div class="col-lg-3 margin-btm-30">
      <div class="person-col">
          <img src="assets/Jen.jpg" alt="" class="img-responsive center-block gallery">
        <div class="person-desc">
          <h4 class="text-uppercase">Jen Hendry</h4>
          <span><em>Nebraska Realty</em></span>
          <p class="description">
            Born and raised in Indianola, Iowa my kids and I now love calling Omaha our home. It's been a journey to get
            here!

            I grew up loving animals, my grandparent's farms and showing cattle. I have a degree in Fashion
            Merchandising with a minor in Business from Iowa State University. After graduation I was an Assistant Buyer
            and Department Manager for Younkers before working in Human Resources in Minneapolis and Omaha. Later I
            spent time in Fort Lauderdale, Florida and also was blessed to travel in Europe and South America.

            As an adult I realized my childhood dream to take riding lessons, own racehorses and watch my daughter show
            Hunter/Jumpers.

            I love homes and am very excited to be a part of the Nebrask Realty family. I'd be honored to use my diverse
            background and knowledge to help you sell/buy your home.
          </p>
          
          <div class="space20"></div>
          <a href="http://www.JenSellsHomesInOmaha.com" class="btn btn-skin btn-sm">Visit Site
            <i class="ion-ios-arrow-right"></i></a>
        </div>
      </div>
    </div><!--col-->
    <div class="col-lg-3 margin-btm-30">
      <div class="person-col">
          <img src="assets/rachel-pierce.jpg" alt="" class="img-responsive center-block gallery">
        <div class="person-desc">
          <h4 class="text-uppercase">Rachel Pierce</h4>
          <span><em>Preferred Lender</em></span>
          <p class="description">
            My name is Rachel Pierce, and I am a Production Partner here at Benchmark Mortgage. My job is to assist and inform you on selecting the best mortgage loan for your own personal financial goals and needs. I recognize that everyone has different priorities, finances and dreams when it comes to home-buying; I go out of my way to understand your individual needs in order to provide you with a first class experience.
            Before joining Benchmark Mortgage, I worked as a Loan Officer for Pulaski Bank Home Lending in Omaha, Nebraska. During my time with Pulaski, I worked as part of a team that brought in new business and marketed monthly events. I also gained the experience needed to close loans in all 50 states.
            Prior to Pulaski, I worked at First National Bank of Omaha for five years. The first four years as a Mortgage Assistant, and my last year as a Mortgage Loan Officer. During my time with First National, I assisted Eric Almquist close $120M in loans in 2012, which was a huge accomplishment for the team and the company. I know that purchasing a home is one of the largest transactions most people will ever make in their life, and I am committed to making this process as stress-free as possible.
            In addition to my passion for helping clients buy their dream homes, I have a passion for community service. I serve the communities in the Omaha area as well as my home town area. I actively organize and participate in events such as Habitat for Humanity, Giving Garden in Glenwood, Iowa, and the United Way Clean-up Day. I am also a member of the Women’s Council of Realtors of Omaha, Millard Business Association, Friends with Networks Referral Group (Acting President), affiliate member of Omaha Board of Realtors, and an active member of the Omaha Chamber of Commerce through Benchmark.
            I earned my degree in Business Management &amp; Marketing from Kankakee Community College in Kankakee, IL. I live in Glenwood Iowa with my husband, John, our 3-year old daughter, Neveah, and our two dogs, Scooby and Wrigley.
          </p>
          
          <div class="space20"></div>
          <a href="https://rachelpierce.benchmark.us/" class="btn btn-skin btn-sm">Visit Site
            <i class="ion-ios-arrow-right"></i></a>
        </div>
      </div>
    </div><!--col-->

  </div><!--row-->
  <div class="space80"></div>
  <div class="row support-info">
    <div class="col-sm-4">
      <h4><i class="ion-ios-telephone"></i> <%= Constants::PHONE_NUMBER %></h4>
    </div>
    <div class="col-sm-4">
      <h4><i class="ion-email"></i> <%= Constants::EMAIL %></h4>
    </div>
    <div class="col-sm-4">
      <h4><i class="ion-map"></i> <%= Constants::ADDRESS %></h4>
    </div>
  </div>
</div>


<script src="assets/readmore.js"></script>
<script>
  
  $('.description').readmore({
    speed: 500,
    collapsedHeight: 150,
    lessLink: '<a href="#">Read less</a>'
  });

</script>
